:host {
  display: block;
  width: 100%;
  /* Asegura que el componente tenga contexto de posición */
  position: relative; 
}

.handle {
  width: 40px; /* Área táctil más grande aunque el botón visual sea menor */
  transform: translateX(-50%);
  z-index: 20;
  /* Touch action none es crítico para móviles */
  touch-action: none; 
}

/* Importante para la imagen 'after' */
.absolute img {
  /* Evita que la imagen se escale al reducir el contenedor padre */
  max-width: none; 
  height: 100%;
}