<section #heroSection id="hero" class="hero min-h-screen md:h-[80vh] pt-24 transition-colors duration-300" [ngStyle]="{
    'background-image': isDarkMode
        ? 'url(' + bgImageDark + ')'
        : 'url(' + bgImageLight + ')'
    }">

    <!-- Overlay dinámico -->
    <div class="absolute inset-0 pointer-events-none z-0" [ngStyle]="{
        'background': 'rgba(0,0,0,' + (isDarkMode ? overlayOpacity*2 : overlayOpacity) + ')'
    }" style="transition: background 0.3s;">
    </div>

    <div class="hero-content flex flex-col items-center justify-center h-full">
        <!-- Logo del Hero que cambia según el tema -->
        <img [src]="isDarkMode ? logoDark : logoLight" [attr.alt]="logoAlt"
            [class]="logoSize + ' ' + (logoEffect || '')" *ngIf="logoLight || logoDark" #heroHeading />

        <!-- Título -->
        <h1 *ngIf="showTitle" [ngClass]="{ 'text-white': !isDarkMode, 'text-text': isDarkMode }"
            class="text-4xl md:text-6xl font-extrabold mb-4 text-center">
            {{ title }}
        </h1>
        <!-- Subtítulo opcional -->
        <p *ngIf="subtitle" class="text-lg md:text-2xl font-medium mb-8 text-center text-white dark:text-white/80">
            {{ subtitle }}
        </p>
        <!-- CTA solo si se quiere mostrar -->
        <button *ngIf="showCTA" (click)="goToCTA()" [ngClass]="{
            'text-white': !isDarkMode && !ctaTextColor,
            'text-text': isDarkMode && !ctaTextColor
        }" [ngStyle]="ctaTextColor ? {'color': ctaTextColor} : null"
            class="px-8 py-3 border-2 border-cta rounded-full font-semibold hover:bg-cta transition">
            {{ ctaText }}
        </button>
    </div>
</section>