@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables personalizadas para modo claro y oscuro */
:root {
  --color-bg: #FDEEDC;
  --color-bg-alt: #457b9d35; /* versión translúcida del azul grisáceo */
  --color-text: #1D3557;
  --color-cta: #FF6F3C;
  --skill-design-bg:   #D8EECF;
  --skill-coding-bg:   #D3E9F7;
  --skill-other-bg:    #F7D1E1;
  --portfolio-bg-branding:    #F7D1E1;
  --portfolio-bg-illustration:#D8EECF;
  --portfolio-bg-web:         #FCF0C2;
  --portfolio-bg-couple:      #C5C3FF;
}

.dark {
  --color-bg: #1D3557;
  --color-bg-alt: #152d39;
  --color-text: #FDEEDC;
  --color-cta: #FF6F3C;
  --skill-design-bg:   #335B8B;
  --skill-coding-bg:   #6a2b7b;
  --skill-other-bg:    #9A3D60;
  --portfolio-bg-branding:    #7F3E53;
  --portfolio-bg-illustration:#397b28;
  --portfolio-bg-web:         #906f2d;
  --portfolio-bg-couple:      #364cb0;
}

html { scroll-behavior: smooth; }

.blog-card img {
  transition: transform 0.3s ease;
}

.blog-card:hover img {
  transform: scale(1.05);
}