  #about img {
    @apply shadow-xl shadow-black/50;
  }

  #about img:hover { 
    @apply scale-105 transition-transform; 
  }

  figure:hover img { @apply scale-110 transition-transform; }

  /* Parallax background adjustments */
  .parallax-bg {
    top: -15vh;
    min-height: calc(100vh + 20vh);
  }

  .automation-banner {
    background-image: url('../../assets/images/automatizacion_background.jpg');
  }

  @media (max-width: 1024px) {
    .automation-banner {
      background-image: url('../../assets/images/automatizacion-background-mobile.jpg');
      background-position: center top;
    }
  }

  @media (max-width: 768px) {
    .parallax-bg {
      top: 0;
      min-height: 100vh;
    }
  }