#hero .hero-content p{ @apply text-white md:text-white; }

img.blur-sm {
  filter: blur(20px);
  opacity: 0;
  transition: filter 0.5s, opacity 0.5s;
}

img.loaded {
  filter: blur(0);
  opacity: 1;
}

.illu-card:hover img {
  transform: scale(1.05);
}

.illu-card img {
  transition: transform 0.3s ease, opacity 0.5s;
}

.modal-img{
  user-select: none;
  touch-action: none;
  max-width:90vw;
  max-height:75vh;        
  width:auto;             
  object-fit:contain;
  margin-inline:auto;
  transition:transform .35s;
  display: block;
  margin: 0 auto;
  transition: box-shadow 0.2s;
}
.modal-img.zoomed{ 
  cursor: grab; /* visible solo en desktop */
  cursor:zoom-out;
  transform:scale(1.6);   /* o usa scale(2) + overflow-auto en el padre */
  box-shadow: 0 0 40px 10px rgba(0,0,0,0.3);
}

.nav-btn,.close-btn{
  @apply absolute top-1/2 -translate-y-1/2 text-text  bg-white/70 dark:bg-teal-600
  rounded-full p-2 shadow-lg backdrop-blur-md transition hover:bg-cta dark:hover:bg-cta 
}
.nav-btn svg,.close-btn svg{ width:32px;height:32px; stroke-width:2; }
.left-4{left:1rem}.right-4{right:1rem}.close-btn{top:1rem;right:1rem;transform:none}